
html,
body {
	font-family: "Andika New Basic", cursive;
	color: #f5f5f5;
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	user-select: none;
	background-color: #0c1445;
}
canvas {
	transition: background 2s;
	width: 100vw;
	height: 100vh;
	cursor: pointer;
}

.title {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -30%);
	font-size: 7em;
	padding: 0;
	margin: 0;
}
#countdown-box {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
	text-align: justify;
	width: 90%;
}
#countdown-box:after {
	display: inline-block;
	width: 100%;
	content: "";
}
.cdi {
	display: inline-block;
	font-size: 4em;
	text-align: center;
	color: #f5f5f5;
	font-family: 'Arial', sans-serif; /* Puedes elegir la fuente que prefieras */
    font-weight: bold; /* Estilo de fuente */
		text-shadow:
			0 0 5px #fff, /* Resplandor más sutil */
			0 0 10px #fff, /* Resplandor medio */ 
			0 0 5px #000000, /* Resplandor medio */ 
			
	
	
}
.cdi-lbl {
	font-size: 0.5em;
}
@media (max-width: 775px) {
	.title {
		top: 0.5em;
	}
	#countdown-box {
		text-align: center;
		top: 20%;
	}
	/*#countdown-box:after {
		content: none;
	}*/
	.cdi {
		/*display: block;*/
		font-size: 3em;
	}
	.cdi-lbl {
		color: #f5f5f5;
	}
	.additional-text {
		position: absolute;
		margin: 2px;
		top: 40%; /* Ajusta la posición vertical */
		left: 50%; /* Centrado horizontal */
		transform: translate(-50%, -85%);
		font-size: 1em; /* Tamaño de fuente inicial */
		color: #ffffff; /* Color base */
		text-shadow: 
			0 0 5px #4400ff,
			0 0 10px #ffffff;
		  
		font-family: "Arial", sans-serif; /* Cambia "Arial" por tu fuente preferida */
		text-align: center;
		justify-content: flex-end;
		animation: floating 2s ease-in-out infinite; /* Animación de flotación */
	}
	
}
@keyframes floating {
    0%, 100% {
        transform: translate(-50%, -85%) translateY(0);
    }
    50% {
        transform: translate(-50%, -85%) translateY(-3px);
    }
}

.additional-text {
    position: absolute;
	margin: 2px;
    top: 70%; /* Ajusta la posición vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -85%);
    font-size: 1em; /* Tamaño de fuente inicial */
    color: #ffffff; /* Color base */
    text-shadow: 
        0 0 5px #4400ff,
        0 0 10px #ffffff;
      
    font-family: "Arial", sans-serif; /* Cambia "Arial" por tu fuente preferida */
	text-align: center;
	justify-content: flex-end;
    animation: floating 2s ease-in-out infinite; /* Animación de flotación */
}
